[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ritikbhutani/dotfiles
[submodule "ansible"]
	path = ansible
	url = git@github.com:ritikbhutani/ansible.git
[submodule "catppuccin-zsh"]
	path = catppuccin-zsh
	url = https://github.com/JannoTjarks/catppuccin-zsh.git
